.container {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.31);
    top: 0;
    left: 0;
}

.subContainer {
    background-color: #ffffff;
    width: 500px;
    height: 220px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnContainer {
    display: flex;
    gap: 10px;
}

.btnContainer button {
    width: 50%;
    border-radius: 10px;
}

.save {
    background-color: #FFB627;
}

.cancel {
    border: 1px solid #FFB627;
}